* {
    margin: 0px;
}

#main_page {
    height: 100vh;
    width: 100vw;
    background-color: greenyellow;
    display: flex;
    flex-direction: column; /* Stack the child elements vertically */
    justify-content: flex-start; /* Align the items to the top */
    align-items: center; /* Center them horizontally */
    position: relative;
}

#score_card {
    border-style: dashed;
    border-radius: 10px;
    padding: 10px;
    margin-top: 50px;
    height: 20vh;
    width: 45vw;
    background-color: white;
    display: flex;
}

#heading {
    padding-left: 20px;
    font-size: 50px;
    width: 50%;
}

#score {
    display: flex;
    padding-right: 20px;
    align-items: center;
}

#sub_heading {
    font-weight: bold;
    font-size: medium;
}

#user_box, #pc_box {
    padding: 20px;
    border-style: double;
    border-radius: 10px;
    margin: 5px;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

#pc_score, #user_score {
    font-size: 40px;
    display: flex;
    justify-content: center;
}

#buttons-container {
    position: absolute;
    right: 20px;
    bottom: 20px;
    display: flex;
    gap: 5px; 
}

#clear_button, #rule_button {
    padding: 10px;
    border-radius: 10px;
    background-color: transparent;
    font-weight: bold;
}


#show_rules {
    border-style: double;
    border-radius: 10px;
    padding: 10px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    background-color: white;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 20px;
    width: auto;
    display: none;
}

#rule_heading {
    font-size: x-large;
    font-weight: bold;
    text-align: center;
}

#close_rules {
    width: fit-content;
    background-color: red;
    border-radius: 12px;
    position: absolute;
    top: 10px;
    right: 10px;
}

#game_start {
    margin-top: 100px;
    display: flex;
    justify-content: center; 
    gap: 30px; 
}

#stone_button, #paper_button, #scissor_button,#game_result_pc, #game_result_user{
    font-size: 50px;
    border-radius: 100px;
    border-color: transparent;
    cursor: pointer;
}

#game_result{
    margin-top: 100px;
    display: flex;
    justify-content: center; 
    gap: 30px; 
    display: none;
}

#play_again_button{
    padding: 5px;
    border-radius: 10px;
    background-color: transparent;
    font-weight: bold;
    margin-top: 5px;
}

#game_result_status{
    font-size: x-large;
    text-align: center;
}

#game_result_against{
    font-size: medium;
    text-align: center;
}

#win_gif {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    display: none;
}